#main_cont {
  text-align: justify;
  z-index: 1;
  font-size: 15px;
  height: 100%;
  font-family: 'fira';

}
#apply_to_teach button{
cursor: pointer;
height: 50px;
width: 50px;

}


#god{
  background: linear-gradient(#fae2e2ad, #ced0f0a2);
  height: 400vh
}
footer{
  position: relative;
  bottom: 50px;
  right: -60%;
}
@font-face {
  font-family: 'fira';
  src: local('fire'),
       url(./Fonts/fire.ttf) format('truetype'),
}
@font-face {
  font-family: 'paint';
  src: local('fingerpaint'),
       url(./Fonts/fingerpaint.ttf) format('truetype'),
}

label{
  font-size: large;  padding: 5px;
  font-weight: 400;
  display: inline-block;
  float: left;
}

#long_form_resp label{
  padding: 5px;
  text-align: unset;
  display: block;
}
#long_form_resp{
  display: block;
  float: left;
  padding: 5px;
}
#long_form_resp input{
  width: 98%
}
.long_form{
  width: 98%;
  position: relative;
}
textarea{
  resize: none;
  height: 80px;
}

#top_bar{
margin-bottom: 5px;
align-content: center;

width: 90%;
left:5%;
position: relative;
}
.old_logo_comp{
  width:14%;
  height: auto;
  margin-bottom: -25px;
  position: relative;
  z-index: 1;
}


@media (min-width: 769px) {
  #home_page{

    font-family: 'fira';
    font-weight: 900;
    background-image: url(https://mir-s3-cdn-cf.behance.net/project_modules/disp/a8818631055505.563f6e1be5aa3.gif);
      background-size: cover;
      color: transparent;
      -moz-background-clip: text;
      -webkit-background-clip: text;
      text-transform: uppercase;
      font-size: 40px;
  }

#top_nav a{
  font-size: 40px!important;
}

}
@media (max-width: 768px) {
  #home_page{
    font-family: 'fira';
    font-weight: 900;
    background-image: url(https://mir-s3-cdn-cf.behance.net/project_modules/disp/a8818631055505.563f6e1be5aa3.gif);
      background-size: cover;
      color: transparent;
      -moz-background-clip: text;
      -webkit-background-clip: text;
      text-transform: uppercase;
      font-size: 20px
  }


  #top_nav{
    text-align: center;
  }
}


#basic_info{
  display: grid;
  width: 20%;
}

#page_title {
  font-weight: 600;
    background-size: cover;
    color: transparent;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    text-transform: uppercase;
}

#top_nav span{
font-weight: bold;
padding: 5px;
margin: 1px;
cursor: pointer;
}
#page_title span{
  font-size: 60px;
  position: relative;
  z-index: 2;
}
#content_container{
width: 90%;
position: relative;
margin: auto;
z-index: 2;
font-family: 'fira';
font-weight: 500;

}
#home_page span{
  display: inline-block;
}
a {
  -webkit-text-stroke: 1px rgb(240, 239, 239);  text-decoration: none;
  margin-bottom: 2px;
  color: rgb(0, 150, 125);
  font-size: 20px;
  text-shadow: 1px 1px;
}
a:hover {
   color: rgba(230, 17, 141, 0.445)
}
#top_nav a.active {
  color: rgba(230, 17, 141, 0.445);
  border: 1px solid rgba(230, 17, 141, 0.445)
 }
